<div class="home">
  <app-navbar></app-navbar>
  <app-slideshow></app-slideshow>
  <small>{{ username }}</small>
  <div class="container mt-5">
    <app-menu [room]="room"></app-menu>
  </div>
  <div class="mb-5 c">
    <div *ngFor="let category of categories">
      <app-category [genre]="category">
        {{ category.category }}
      </app-category>
    </div>
  </div>
  <div class="container">
    <app-chat-room [rooms]="rooms"></app-chat-room>
  </div>
  <app-world-chat></app-world-chat>
  <app-footer></app-footer>
</div>

