<div class="chat col-12 col-md-6 col-lg-4"  [ngClass]="{show:needChat}">
  <div class="chat-text col-12">
    <div class="texts">
        <div *ngFor="let message of messages" class="message">
          {{ message.messageText }}
        </div>
    </div>
  </div>
  <div class="send-text col-12">
    <input 
      type="text" 
      class="form-control col-8 mx-auto"
      [(ngModel)]="message"
      name="message">
    <button class="btn btn-primary btn-sm mx-auto col-3" (click)="sendMessage()">Send</button>
  </div>
  <small class="col-12 text-center">This is a global chat. Anyone can see your text</small>
</div>
<div class="world-chat">
  <button (click)="connectToIOServer()"><small>Chat</small></button>
</div>