html,body{
    background-color: #f5f5f5 !important;
}
video{
    width: 100%;
    border-radius: 5px;
}
.alert p{
    margin: 0;
    padding: 0;
    font-size: 1.3rem
}
.alert{
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .2);
}
