flash-messages {
    position: fixed;
    top: 10vh;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
}
app-notification {
    position: fixed;
    right: 1rem;
    top: .5rem;
    z-index: 100;
}