<div class="chat-layout">

    <div class="chat-sidebar d-none d-md-block col-3 pt-3">
        <h2 class="ml-4">People</h2>
        <div id="users"></div>
    </div>

    <div class="chat-main col-12 col-md-9">
        <div class="container cont pt-5 pl-5">
            <ol id="messages"></ol>
        </div>
    </div>
    
    <div class="chat-footer col-12 col-md-9">
        <div class="container contain">
            <form id="messageForm" class="col-12 d-block col-md-9 d-md-inline-block">
                <input name="message" minlength="1" type="text" class="input col-8 mr-3 ml-2" autofocus autocomplete="off">
                <input id="submit" type="submit" value="Send" class="button col-2 col-md-3 ml-2">
            </form>
        </div>
    </div>

</div>